# Visual Studio cache
.vs/

# Build outputs
x64/
x86/
Debug/
Release/
bin/
obj/

# Executables and symbol files
*.exe
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.recipe
*.vsix

# Libraries and binaries
*.a
*.lib
*.dylib
*.so
*.dll