nob
nob.old
build/

# Visual Studio cache and temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
x64/
x86/
Debug/
Release/
bin/
obj/

# Executables and symbol files
*.exe
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.recipe
*.vsix